{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 text-white">
            <h2 class="featurette-heading">Penknife<span class="text-muted"> - My Rules</span></h2>
            <p class="lead">Filmed by Penknife - Edited by Tom Carnell - Mixed by Alan Smith.</p>
        </div>
        <div class="col-md-5">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/juBmZM_nuCw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 text-white">
            <h2 class="featurette-heading">Robyn Perren<span class="text-muted"> - Stupid Song</span></h2>
            <p class="lead">Directed, filmed & edited by Alan Smith </p>
        </div>
        <div class="col-md-5">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/nM16ZlY86uk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 text-white">
            <h2 class="featurette-heading">Tom Johnson<span class="text-muted">- Acid Lagoon</span></h2>
            <p class="lead">
                Filmed & Directed by: A Charles & Tom Carnell 
                
                Edited by: Tom Carnell</p>
        </div>
        <div class="col-md-5">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/jHpwb9yyz3k?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">
</div>
{% endblock %}