{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" width="100%" height="100%" src="/staticfiles/css/media/Robyn.4da7a74433e6.png" alt="Artist Photo - Robyn">
  
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Robyn Perren</h1>
            <p>Alan is an absolute musical genius who I have recorded 2 EP’s with. When we first started recording together, I hadn’t quite found my sound yet, but Alan has really helped me to find it. I usually come in with an acoustic song, and Alan then really brings it to life! He creates something so much bigger! Alan also sometimes helps me with new lyrics and melodies for my songs. I can’t imagine ever working with a better producer, he’s super chilled and easy to work with, and just amazing at what he does.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="../media/TJ1.jpg" alt="Artist Photo - TJ">
  
        <div class="container-fluid">
          <div class="carousel-caption outlined-text">
            <h1>Tom Johnson </h1>
            <p>I can’t recommend Alan enough. As a producer he gives you the freedom to be as involved in the song writing/development as much or as little as you like. If you’re after a producer just to record he’s exactly that. If you’re after that bit of magic to bring your song to life, he’s more than got that in his locker. Alan’s able to add his own creativity and variation in styles that suits the artist. With his ear to the ground he knows how to work multiple genres and always brings fresh ideas. He’s my go to producer and that won’t be changing any time soon.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" src="../media/Izzy.jpg" width="100%" height="100%" alt="Artist Photo Izzy">
  
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Izzy Siddal</h1>
            <p>I started working with Alan in his recording studio in August last year after Robyn recommended him to me. I love writing songs but needed someone to help me and Alan has been amazing. Alan is hardworking, talented, kind and fun to work with. I’ve released two songs we’ve co-written together and these are some of my favourite songs. Alan is so efficient at sending mixes over as well and can produce all different styles. He always makes you feel comfortable and never judges, is encouraging and builds confidence vocally and in songwriting. I would 100% recommend Alan’s studio to anyone who is fortunate enough to work with him. 😊</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
{% endblock %}
